@import "tailwindcss";

@plugin '@tailwindcss/typography';

@custom-variant dark (&:is(.dark *));

@theme {
  --font-*: initial;
  --font-mono:
    "JetBrains Mono", ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  --font-sans:
    "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  --color-brand: #2522fc;

  --color-first-50: var(--first-50);
  --color-first-100: var(--first-100);
  --color-first-200: var(--first-200);
  --color-first-300: var(--first-300);
  --color-first-400: var(--first-400);
  --color-first-500: var(--first-500);
  --color-first-600: var(--first-600);
  --color-first-700: var(--first-700);
  --color-first-800: var(--first-800);
  --color-first-900: var(--first-900);

  --color-blue-50: #fafaff;
  --color-blue-100: #f0f0ff;
  --color-blue-200: #bfbefe;
  --color-blue-300: #8886fd;
  --color-blue-400: #5754fd;
  --color-blue-500: #2522fc;
  --color-blue-600: #0703d8;
  --color-blue-700: #050297;
  --color-blue-800: #030156;
  --color-blue-900: #010014;

  --text-2xs: 0.66rem;

  --spacing-header: 60px;
}

@layer components {
  html {
    scroll-behavior: smooth;
    scroll-padding-top: calc(var(--spacing-header) + (--spacing(4)));
    overflow: auto;
  }

  body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    -webkit-text-size-adjust: 100%;
    -ms-font-feature-settings: "kern" 1;
    font-feature-settings: "kern";
  }
}
