{
  "extends": [
    "@remix-run/eslint-config",
    "@remix-run/eslint-config/node",
    "prettier"
  ],
  "ignorePatterns": ["node_modules", "build", ".cache"],
  "plugins": ["simple-import-sort", "prettier"],
  "rules": {
    "simple-import-sort/imports": "error",
    "simple-import-sort/exports": "error",
    "prettier/prettier": [
      "error",
      {
        "semi": false,
        "printWidth": 100,
        "bracketSpacing": false,
        "singleQuote": true
      }
    ]
  }
}
