@tailwind base;

@tailwind components;

/* * {
  outline: 1px solid rgba(255, 0, 0, 0.1);
}
* * {
  outline: 1px solid rgba(255, 0, 0, 0.1);
}
* * * {
  outline: 1px solid rgba(255, 0, 0, 0.1);
} */

.typography {
  @apply transition-colors duration-300;
}

.typography-dark {
  @apply text-current-100;
}

.typography h1,
.typography h2 {
  @apply text-current-800 font-bold leading-tight;
}

.typography h1 a,
.typography h2 a {
  color: inherit;
  text-decoration: none;
}

.typography-dark h1,
.typography-dark h2 {
  @apply text-white;
}

.typography h1 {
  @apply text-2xl;
}

.typography h2 {
  @apply text-xl;
}

.typography h1,
.typography h2,
.typography p {
  @apply mb-3;
}

.typography a {
  @apply transition-colors duration-300 text-current-700 underline;
}

.typography-dark a {
  @apply text-current-300;
}

.typography a:hover {
  @apply text-current-300;
}

.typography > *:first-child {
  margin-top: 0;
}

.typography > *:last-child {
  margin-bottom: 0;
}

.button {
  @apply py-2 px-4 rounded bg-current-700 text-white text-xs font-bold transition-colors duration-300;
}

.button-clear {
  @apply py-2 px-0 bg-transparent text-current-700;
}

.button:hover {
  @apply bg-current-900;
}

.button-clear:hover {
  @apply bg-transparent text-current-700;
}

.instruction {
  @apply block text-gray-900 py-2 pr-4 text-sm;
}

.input {
  @apply w-full transition transition-colors duration-150 border-2 border-gray-400 outline-none rounded p-3 text-current-900;
}

.input::selection {
  @apply bg-current-200 text-current-900;
}

.input:focus {
  @apply border-current-500 text-current-800;
}

.label {
  @apply text-xs text-gray-600 font-bold uppercase leading-none;
}

@tailwind utilities;
